@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(255, 255, 255); /* Set background to plain white */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(var(--background-rgb)); /* Optional: set to black in dark mode */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
